<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="text/javascript" src="controllers/recordController.client.js"></script>
<div class="navbar navbar-default navbar-static-top" ng-controller="RecordCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Diggin' in the Crates</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        <li ><a href="/record">Records</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ><p class="navbar-text"><a href="/profile">Profile</a></p></li>
        <li><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

